<p id="notice"><%= notice %></p>

<h1>
  <strong>Username:</strong>
  <%= @user.username %>
</h1>

<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
